<div class = "text-center home-callout"> 

<h1>Hello my name is Chris Adrion and I'm a student of SUNY Farmingdale studying
computer science. I'm building this website as a portfolio to display all my 
future projects</h1>

</div